.features {
  padding-bottom: 0;
}

.features__block {
  --set-item: 4;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--team-btn-color);
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-collor);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}
