.footer {
  background-color: var(--secondery-bg);
  @include section(60px, 60px);

  &__inner {
    display: flex;
    align-items: baseline;
  }

  &__contackts-block {
    margin-right: 70px;
  }

  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__address {
    color: var(--primary-white);
  }

  &__contact {
    color: var(--footer-contacts-cl);
  }

  &__sub {
    margin-left: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white);
    margin-bottom: 20px;
  }

  &__form {
    @extend %centreFlex;
    gap: 12px;
  }

  &__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--secondery-bg);
    border: 1px solid var(--br-input-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    line-height: 1.25;

    color: var(--input-cl);
  }

  &__btn {
    @extend %button;
    @extend %centreFlex;
    gap: 10px;
  }

  &__icon-send {
    width: 24px;
    height: 24px;
    fill: var(--primary-white);
  }
}
